$icomoon-font-family: "Huge-Icons" !default;

$huge-abacus: "\e900";
$huge-about-phone: "\e901";
$huge-accessibility: "\e902";
$huge-activity: "\e903";
$huge-add-circle: "\e904";
$huge-add-rectangle: "\e905";
$huge-add-to: "\e906";
$huge-agenda: "\e907";
$huge-air-plane: "\e908";
$huge-airplane-mode: "\e909";
$huge-airplane-mode-off: "\e90a";
$huge-alarm: "\e90b";
$huge-alarm-add: "\e90c";
$huge-alarm-check: "\e90d";
$huge-alarm-delete: "\e90e";
$huge-alarm-minus: "\e90f";
$huge-align-bottom: "\e910";
$huge-align-center: "\e911";
$huge-align-justify: "\e912";
$huge-align-left: "\e913";
$huge-align-right: "\e914";
$huge-align-top: "\e915";
$huge-ambulance: "\e916";
$huge-announcement: "\e917";
$huge-apps: "\e918";
$huge-apps-add: "\e919";
$huge-apps-circle: "\e91a";
$huge-apps-double-circle: "\e91b";
$huge-apps-rectangle: "\e91c";
$huge-apps-remove: "\e91d";
$huge-apps-triple-rectangle: "\e91e";
$huge-archive: "\e91f";
$huge-archive-add: "\e920";
$huge-archive-clear: "\e921";
$huge-archive-document: "\e922";
$huge-archive-done: "\e923";
$huge-archive-download: "\e924";
$huge-archive-favourite: "\e925";
$huge-archive-remove: "\e926";
$huge-archive-search: "\e927";
$huge-archive-symmetrical: "\e928";
$huge-archive-upload: "\e929";
$huge-archive-written: "\e92a";
$huge-arrow-back: "\e92b";
$huge-arrow-back-circle: "\e92c";
$huge-arrow-back-rectangle: "\e92d";
$huge-arrow-down: "\e92e";
$huge-arrow-down-circle: "\e92f";
$huge-arrow-down-rectangle: "\e930";
$huge-arrow-drop-down: "\e931";
$huge-arrow-drop-left: "\e932";
$huge-arrow-drop-right: "\e933";
$huge-arrow-drop-up: "\e934";
$huge-arrow-left: "\e935";
$huge-arrow-left-circle: "\e936";
$huge-arrow-left-rectangle: "\e937";
$huge-arrow-move: "\e938";
$huge-arrow-move-circle: "\e939";
$huge-arrow-move-rectangle: "\e93a";
$huge-arrow-return: "\e93b";
$huge-arrow-return-circle: "\e93c";
$huge-arrow-return-rectangle: "\e93d";
$huge-arrow-right: "\e93e";
$huge-arrow-right-circle: "\e93f";
$huge-arrow-right-rectangle: "\e940";
$huge-arrow-sort: "\e941";
$huge-arrow-sort-circle: "\e942";
$huge-arrow-sort-rectangle: "\e943";
$huge-arrow-sort-rectangle-half: "\e944";
$huge-arrow-thick-down: "\e945";
$huge-arrow-thick-left: "\e946";
$huge-arrow-thick-right: "\e947";
$huge-arrow-thick-up: "\e948";
$huge-arrow-transfer: "\e949";
$huge-arrow-transfer-circle: "\e94a";
$huge-arrow-transfer-rectangle: "\e94b";
$huge-arrow-transfer-rectangle-half: "\e94c";
$huge-arrow-up: "\e94d";
$huge-arrow-up-circle: "\e94e";
$huge-arrow-up-rectangle: "\e94f";
$huge-arrow-zoom-in: "\e950";
$huge-arrow-zoom-in-rectangle: "\e951";
$huge-arrow-zoom-out: "\e952";
$huge-arrow-zoom-out-circle: "\e953";
$huge-arrow-zoom-out-rectangle: "\e954";
$huge-article: "\e955";
$huge-assignment: "\e956";
$huge-atm: "\e957";
$huge-attachment: "\e958";
$huge-audio-book: "\e959";
$huge-auto: "\e95a";
$huge-auto-rotation: "\e95b";
$huge-backpack: "\e95c";
$huge-badge-percent: "\e95d";
$huge-bag: "\e95e";
$huge-bag-add: "\e95f";
$huge-bag-check: "\e960";
$huge-bag-favourite: "\e961";
$huge-bag-minus: "\e962";
$huge-bag-remove: "\e963";
$huge-bag-smile: "\e964";
$huge-bank: "\e965";
$huge-bar-chart: "\e966";
$huge-bar-chart-arrow-down: "\e967";
$huge-bar-chart-arrow-up: "\e968";
$huge-bar-chart-asc: "\e969";
$huge-bar-chart-middle-long: "\e96a";
$huge-bar-chart-middle-short: "\e96b";
$huge-barcode-border: "\e96c";
$huge-basket-ball: "\e96d";
$huge-battery: "\e96e";
$huge-battery-alert: "\e96f";
$huge-battery-charging: "\e970";
$huge-battery-charging-full: "\e971";
$huge-battery-horizontal: "\e972";
$huge-battery-horizontal-charging: "\e973";
$huge-battery-horizontal-full: "\e974";
$huge-battery-horizontal-lowbet: "\e975";
$huge-battery-horizontal-saving-mode: "\e976";
$huge-battery-lowbet: "\e977";
$huge-battery-saving-mode: "\e978";
$huge-bell: "\e979";
$huge-bell-crooked: "\e97a";
$huge-bell-notification: "\e97b";
$huge-bell-ringing: "\e97c";
$huge-bell-school: "\e97d";
$huge-bell-silent: "\e97e";
$huge-bill: "\e97f";
$huge-blackboard: "\e980";
$huge-blood: "\e981";
$huge-blood-plus: "\e982";
$huge-bluetooth: "\e983";
$huge-bluetooth-connected: "\e984";
$huge-bluetooth-off: "\e985";
$huge-board: "\e986";
$huge-board-stand: "\e987";
$huge-bold: "\e988";
$huge-book-add: "\e989";
$huge-book-check: "\e98a";
$huge-book-download: "\e98b";
$huge-book-favourite: "\e98c";
$huge-book-help: "\e98d";
$huge-book-info: "\e98e";
$huge-bookmark: "\e98f";
$huge-book-marked: "\e990";
$huge-book-marked-written: "\e991";
$huge-book-minus: "\e992";
$huge-book-open-add: "\e993";
$huge-book-open-check: "\e994";
$huge-book-open-download: "\e995";
$huge-book-open-favourite: "\e996";
$huge-book-open-help: "\e997";
$huge-book-open-info: "\e998";
$huge-book-open-minus: "\e999";
$huge-book-open-remove: "\e99a";
$huge-book-open-search: "\e99b";
$huge-book-open-stand: "\e99c";
$huge-book-open-upload: "\e99d";
$huge-book-open-written: "\e99e";
$huge-book-remove: "\e99f";
$huge-books: "\e9a0";
$huge-book-search: "\e9a1";
$huge-book-upload: "\e9a2";
$huge-book-written: "\e9a3";
$huge-box-add: "\e9a4";
$huge-box-arrow-down: "\e9a5";
$huge-box-arrow-up: "\e9a6";
$huge-box-cancel: "\e9a7";
$huge-box-done: "\e9a8";
$huge-box-favorite: "\e9a9";
$huge-box-location: "\e9aa";
$huge-box-minus: "\e9ab";
$huge-box-search: "\e9ac";
$huge-box-time: "\e9ad";
$huge-briefcase: "\e9ae";
$huge-briefcase-dashed: "\e9af";
$huge-briefcase-short-triangular: "\e9b0";
$huge-briefcase-triangular: "\e9b1";
$huge-briefcase-triangular-hollow: "\e9b2";
$huge-briefcase-triangular-two-locks: "\e9b3";
$huge-briefcase-two-locks: "\e9b4";
$huge-brightness: "\e9b5";
$huge-broadcast: "\e9b6";
$huge-browser: "\e9b7";
$huge-browser-video: "\e9b8";
$huge-bus: "\e9b9";
$huge-calculator: "\e9ba";
$huge-calculator-modern: "\e9bb";
$huge-calculator-modern-written: "\e9bc";
$huge-calendar: "\e9bd";
$huge-calendar-add: "\e9be";
$huge-calendar-check: "\e9bf";
$huge-calendar-delete: "\e9c0";
$huge-calendar-dot: "\e9c1";
$huge-calendar-minus: "\e9c2";
$huge-call: "\e9c3";
$huge-call-block: "\e9c4";
$huge-call-hospital: "\e9c5";
$huge-call-in: "\e9c6";
$huge-calling: "\e9c7";
$huge-call-in-short: "\e9c8";
$huge-call-love: "\e9c9";
$huge-call-out: "\e9ca";
$huge-call-out-short: "\e9cb";
$huge-call-user: "\e9cc";
$huge-call-voicemail: "\e9cd";
$huge-camera: "\e9ce";
$huge-camera-one-piece: "\e9cf";
$huge-camera-one-piece-silent: "\e9d0";
$huge-camera-one-piece-switch: "\e9d1";
$huge-camera-silent: "\e9d2";
$huge-camera-video-dash: "\e9d3";
$huge-camera-video-dot: "\e9d4";
$huge-camera-video-silent: "\e9d5";
$huge-canvas: "\e9d6";
$huge-capsule: "\e9d7";
$huge-capsule-open: "\e9d8";
$huge-card-add: "\e9d9";
$huge-card-arrow-down: "\e9da";
$huge-card-arrow-left: "\e9db";
$huge-card-arrow-right: "\e9dc";
$huge-card-arrow-up: "\e9dd";
$huge-card-check: "\e9de";
$huge-card-dash: "\e9df";
$huge-card-dot: "\e9e0";
$huge-cardiogram: "\e9e1";
$huge-card-minus: "\e9e2";
$huge-card-remove: "\e9e3";
$huge-card-user: "\e9e4";
$huge-card-withdraw: "\e9e5";
$huge-cargo: "\e9e6";
$huge-cargo-ship: "\e9e7";
$huge-cart: "\e9e8";
$huge-cart-add: "\e9e9";
$huge-cart-arrow-down: "\e9ea";
$huge-cart-arrow-up: "\e9eb";
$huge-cart-check: "\e9ec";
$huge-cartesian: "\e9ed";
$huge-cart-has-dash: "\e9ee";
$huge-cart-minus: "\e9ef";
$huge-cart-remove: "\e9f0";
$huge-cart-smile: "\e9f1";
$huge-cast: "\e9f2";
$huge-CCTV: "\e9f3";
$huge-cd-burning: "\e9f4";
$huge-chart-arrow-down: "\e9f5";
$huge-chart-arrow-down-rectangle: "\e9f6";
$huge-chart-arrow-up: "\e9f7";
$huge-chart-arrow-up-rectangle: "\e9f8";
$huge-chart-bar: "\e9f9";
$huge-chart-bar-rectangle: "\e9fa";
$huge-chart-histogram: "\e9fb";
$huge-chart-home: "\e9fc";
$huge-chart-line: "\e9fd";
$huge-chart-notification: "\e9fe";
$huge-chart-pie: "\e9ff";
$huge-chart-pie-circle: "\ea00";
$huge-chart-presentation: "\ea01";
$huge-chart-roof-home: "\ea02";
$huge-chart-wave: "\ea03";
$huge-chart-wave-full: "\ea04";
$huge-chart-wave-rectangle: "\ea05";
$huge-chat: "\ea06";
$huge-chat-accept: "\ea07";
$huge-chat-arrow-down: "\ea08";
$huge-chat-arrow-up: "\ea09";
$huge-chat-block: "\ea0a";
$huge-chat-clock: "\ea0b";
$huge-chat-close: "\ea0c";
$huge-chat-dot: "\ea0d";
$huge-chat-favourite: "\ea0e";
$huge-chat-information: "\ea0f";
$huge-chat-lock: "\ea10";
$huge-chat-love: "\ea11";
$huge-chat-negative: "\ea12";
$huge-chat-notification: "\ea13";
$huge-chat-plus: "\ea14";
$huge-chat-sad: "\ea15";
$huge-chat-search: "\ea16";
$huge-chat-silent: "\ea17";
$huge-chat-smile: "\ea18";
$huge-chatting: "\ea19";
$huge-chat-user: "\ea1a";
$huge-chat-written: "\ea1b";
$huge-chat-written-notification: "\ea1c";
$huge-check-circle: "\ea1d";
$huge-check-mark-circle: "\ea1e";
$huge-check-mark-rectangle: "\ea1f";
$huge-check-rectangle: "\ea20";
$huge-chemistry: "\ea21";
$huge-chemistry-cylindrical: "\ea22";
$huge-chemistry-dimple: "\ea23";
$huge-clapperboard: "\ea24";
$huge-clear-circle: "\ea25";
$huge-clear-rectangle: "\ea26";
$huge-clipboard: "\ea27";
$huge-clipboard-activity: "\ea28";
$huge-clipboard-add: "\ea29";
$huge-clipboard-check: "\ea2a";
$huge-clipboard-delete: "\ea2b";
$huge-clipboard-download: "\ea2c";
$huge-clipboard-favourite: "\ea2d";
$huge-clipboard-list: "\ea2e";
$huge-clipboard-minus: "\ea2f";
$huge-clipboard-search: "\ea30";
$huge-clipboard-upload: "\ea31";
$huge-clock-circle: "\ea32";
$huge-clock-circle-short: "\ea33";
$huge-clock-rectangle: "\ea34";
$huge-clock-rectangle-short: "\ea35";
$huge-cloud: "\ea36";
$huge-cloud-flash: "\ea37";
$huge-cloud-flash-rain: "\ea38";
$huge-cloud-half-moon: "\ea39";
$huge-cloud-half-moon-flash: "\ea3a";
$huge-cloud-half-moon-flash-rain: "\ea3b";
$huge-cloud-half-moon-rain-high: "\ea3c";
$huge-cloud-half-moon-rain-low: "\ea3d";
$huge-cloud-half-moon-rain-mid: "\ea3e";
$huge-cloud-half-moon-snow: "\ea3f";
$huge-cloud-half-moon-wind-rain: "\ea40";
$huge-cloud-moon: "\ea41";
$huge-cloud-moon-flash: "\ea42";
$huge-cloud-moon-flash-rain: "\ea43";
$huge-cloud-moon-rain-high: "\ea44";
$huge-cloud-moon-rain-low: "\ea45";
$huge-cloud-moon-rain-mid: "\ea46";
$huge-cloud-moon-snow: "\ea47";
$huge-cloud-moon-wind-rain: "\ea48";
$huge-cloud-rain-high: "\ea49";
$huge-cloud-rain-low: "\ea4a";
$huge-cloud-rain-mid: "\ea4b";
$huge-clouds: "\ea4c";
$huge-cloud-snow: "\ea4d";
$huge-cloud-sun: "\ea4e";
$huge-cloud-sun-flash: "\ea4f";
$huge-cloud-sun-flash-rain: "\ea50";
$huge-cloud-sun-rain-high: "\ea51";
$huge-cloud-sun-rain-low: "\ea52";
$huge-cloud-sun-rain-mid: "\ea53";
$huge-cloud-sun-snow: "\ea54";
$huge-cloud-sun-wind-rain: "\ea55";
$huge-cloud-wind: "\ea56";
$huge-cloud-wind-rain: "\ea57";
$huge-coin: "\ea58";
$huge-coin-dollar: "\ea59";
$huge-coin-euro: "\ea5a";
$huge-coin-pound: "\ea5b";
$huge-coin-yen: "\ea5c";
$huge-collection: "\ea5d";
$huge-color-inversion: "\ea5e";
$huge-compass: "\ea5f";
$huge-computer: "\ea60";
$huge-computer-pieces: "\ea61";
$huge-copy: "\ea62";
$huge-copy-check: "\ea63";
$huge-coupon: "\ea64";
$huge-cpu: "\ea65";
$huge-cube: "\ea66";
$huge-cube-stack: "\ea67";
$huge-dark-mode: "\ea68";
$huge-dashboard: "\ea69";
$huge-deal: "\ea6a";
$huge-delivery: "\ea6b";
$huge-delivery-air-plane: "\ea6c";
$huge-delivery-cancel: "\ea6d";
$huge-delivery-conveyor: "\ea6e";
$huge-delivery-done: "\ea6f";
$huge-delivery-parachute: "\ea70";
$huge-delivery-time: "\ea71";
$huge-deposit: "\ea72";
$huge-description: "\ea73";
$huge-desk: "\ea74";
$huge-destination: "\ea75";
$huge-destination-dashed-three: "\ea76";
$huge-destination-dashed-two: "\ea77";
$huge-destination-line: "\ea78";
$huge-devices: "\ea79";
$huge-diamond: "\ea7a";
$huge-digital-health: "\ea7b";
$huge-diploma: "\ea7c";
$huge-diploma-square: "\ea7d";
$huge-direction-down: "\ea7e";
$huge-direction-down-double: "\ea7f";
$huge-direction-down-double-circle: "\ea80";
$huge-direction-down-double-rectangle: "\ea81";
$huge-direction-left: "\ea82";
$huge-direction-left-double: "\ea83";
$huge-direction-left-double-circle: "\ea84";
$huge-direction-left-double-rectangle: "\ea85";
$huge-direction-right: "\ea86";
$huge-direction-right-double: "\ea87";
$huge-direction-right-double-circle: "\ea88";
$huge-direction-right-double-rectangle: "\ea89";
$huge-direction-up: "\ea8a";
$huge-direction-up-double: "\ea8b";
$huge-direction-up-double-circle: "\ea8c";
$huge-direction-up-double-rectangle: "\ea8d";
$huge-disk: "\ea8e";
$huge-dis-like: "\ea8f";
$huge-divide-circle: "\ea90";
$huge-divide-rectangle: "\ea91";
$huge-dna: "\ea92";
$huge-document-text: "\ea93";
$huge-dollar: "\ea94";
$huge-donate: "\ea95";
$huge-donate-coin: "\ea96";
$huge-donation: "\ea97";
$huge-do-not-disturb: "\ea98";
$huge-download-circle: "\ea99";
$huge-download-rectangle: "\ea9a";
$huge-dribbble: "\ea9b";
$huge-drive: "\ea9c";
$huge-earnings: "\ea9d";
$huge-earphone: "\ea9e";
$huge-edit: "\ea9f";
$huge-edit-rectangle: "\eaa0";
$huge-education-compass: "\eaa1";
$huge-e-learning: "\eaa2";
$huge-equality-circle: "\eaa3";
$huge-equality-rectangle: "\eaa4";
$huge-euro: "\eaa5";
$huge-exam: "\eaa6";
$huge-exchange: "\eaa7";
$huge-exchange-rectangle: "\eaa8";
$huge-eye: "\eaa9";
$huge-eye-disable: "\eaaa";
$huge-eye-dropper: "\eaab";
$huge-eye-light: "\eaac";
$huge-eye-light-double: "\eaad";
$huge-eye-scanner-border: "\eaae";
$huge-facebook: "\eaaf";
$huge-facebook-square: "\eab0";
$huge-fast-delivery: "\eab1";
$huge-fast-time: "\eab2";
$huge-favourite: "\eab3";
$huge-feather: "\eab4";
$huge-feed-rectangle: "\eab5";
$huge-figma: "\eab6";
$huge-file: "\eab7";
$huge-file-accept: "\eab8";
$huge-file-accept-bent: "\eab9";
$huge-file-add: "\eaba";
$huge-file-add-bent: "\eabb";
$huge-file-attachment: "\eabc";
$huge-file-doc: "\eabd";
$huge-file-double: "\eabe";
$huge-file-download: "\eabf";
$huge-file-download-bent: "\eac0";
$huge-file-favourite: "\eac1";
$huge-file-favourite-bent: "\eac2";
$huge-file-jpg: "\eac3";
$huge-file-minus: "\eac4";
$huge-file-minus-bent: "\eac5";
$huge-file-music: "\eac6";
$huge-file-pdf: "\eac7";
$huge-file-png: "\eac8";
$huge-file-reload: "\eac9";
$huge-file-remove: "\eaca";
$huge-file-remove-bent: "\eacb";
$huge-files: "\eacc";
$huge-file-search: "\eacd";
$huge-file-search-bent: "\eace";
$huge-file-sharing: "\eacf";
$huge-files-reverse: "\ead0";
$huge-file-upload: "\ead1";
$huge-file-upload-bent: "\ead2";
$huge-file-video: "\ead3";
$huge-file-written: "\ead4";
$huge-file-written-bent: "\ead5";
$huge-file-written-continued: "\ead6";
$huge-filmstrip-circle: "\ead7";
$huge-filter: "\ead8";
$huge-filter-big-circle: "\ead9";
$huge-filter-enable: "\eada";
$huge-filter-small-circle: "\eadb";
$huge-filter-three-line: "\eadc";
$huge-filter-three-line-big: "\eadd";
$huge-filter-three-line-horizontal: "\eade";
$huge-filter-two-line: "\eadf";
$huge-filter-two-line-big: "\eae0";
$huge-filter-two-line-vertical: "\eae1";
$huge-finger-print: "\eae2";
$huge-finger-print-border: "\eae3";
$huge-fiverr: "\eae4";
$huge-flag: "\eae5";
$huge-flag-circle: "\eae6";
$huge-flag-rectangle: "\eae7";
$huge-flash-auto: "\eae8";
$huge-flash-light: "\eae9";
$huge-flash-off: "\eaea";
$huge-flash-round: "\eaeb";
$huge-flash-sharp: "\eaec";
$huge-flask: "\eaed";
$huge-floppy-disk: "\eaee";
$huge-focus: "\eaef";
$huge-folder: "\eaf0";
$huge-folder-accept: "\eaf1";
$huge-folder-add: "\eaf2";
$huge-folder-download: "\eaf3";
$huge-folder-favourite: "\eaf4";
$huge-folder-file: "\eaf5";
$huge-folder-minus: "\eaf6";
$huge-folder-open: "\eaf7";
$huge-folder-open-accept: "\eaf8";
$huge-folder-open-add: "\eaf9";
$huge-folder-open-crooked: "\eafa";
$huge-folder-open-download: "\eafb";
$huge-folder-open-favourite: "\eafc";
$huge-folder-open-minus: "\eafd";
$huge-folder-open-remove: "\eafe";
$huge-folder-open-search: "\eaff";
$huge-folder-open-upload: "\eb00";
$huge-folder-reload: "\eb01";
$huge-folder-remove: "\eb02";
$huge-folder-search: "\eb03";
$huge-folder-share: "\eb04";
$huge-folder-upload: "\eb05";
$huge-font-color: "\eb06";
$huge-font-rectangle: "\eb07";
$huge-font-size: "\eb08";
$huge-font-size-text: "\eb09";
$huge-format-clear: "\eb0a";
$huge-format-line-spacing: "\eb0b";
$huge-format-quote: "\eb0c";
$huge-format-shapes: "\eb0d";
$huge-fountain-pen: "\eb0e";
$huge-gift: "\eb0f";
$huge-give-blood: "\eb10";
$huge-give-pill: "\eb11";
$huge-glass-broken: "\eb12";
$huge-glasses: "\eb13";
$huge-globe: "\eb14";
$huge-globe-earth: "\eb15";
$huge-globe-front: "\eb16";
$huge-globe-physics: "\eb17";
$huge-globe-side-view: "\eb18";
$huge-gmail: "\eb19";
$huge-gold: "\eb1a";
$huge-google: "\eb1b";
$huge-google-plus: "\eb1c";
$huge-gps: "\eb1d";
$huge-gps-circle: "\eb1e";
$huge-gps-off: "\eb1f";
$huge-gps-send: "\eb20";
$huge-graduation-cap: "\eb21";
$huge-graphic-eq: "\eb22";
$huge-grid: "\eb23";
$huge-grid-four-two: "\eb24";
$huge-grid-one-two: "\eb25";
$huge-half-moon: "\eb26";
$huge-half-moon-phase: "\eb27";
$huge-hanger: "\eb28";
$huge-hangout: "\eb29";
$huge-heading: "\eb2a";
$huge-headphones: "\eb2b";
$huge-headphones-microphone: "\eb2c";
$huge-headphones-silent: "\eb2d";
$huge-health-care: "\eb2e";
$huge-heart: "\eb2f";
$huge-help: "\eb30";
$huge-help-circle: "\eb31";
$huge-help-polygon: "\eb32";
$huge-help-square: "\eb33";
$huge-hit-target: "\eb34";
$huge-home: "\eb35";
$huge-home-add: "\eb36";
$huge-home-arrow-down: "\eb37";
$huge-home-arrow-up: "\eb38";
$huge-home-celsius: "\eb39";
$huge-home-check: "\eb3a";
$huge-home-cloud: "\eb3b";
$huge-home-door: "\eb3c";
$huge-home-download: "\eb3d";
$huge-home-eye: "\eb3e";
$huge-home-favourite: "\eb3f";
$huge-home-filter: "\eb40";
$huge-home-flash: "\eb41";
$huge-home-fluid: "\eb42";
$huge-home-graph: "\eb43";
$huge-home-information: "\eb44";
$huge-home-link: "\eb45";
$huge-home-location: "\eb46";
$huge-home-location-big: "\eb47";
$huge-home-lock: "\eb48";
$huge-home-mail: "\eb49";
$huge-home-minus: "\eb4a";
$huge-home-notification: "\eb4b";
$huge-home-power: "\eb4c";
$huge-home-remove: "\eb4d";
$huge-home-setting: "\eb4e";
$huge-home-share: "\eb4f";
$huge-home-shield: "\eb50";
$huge-home-smile: "\eb51";
$huge-home-upload: "\eb52";
$huge-home-warning: "\eb53";
$huge-home-wave: "\eb54";
$huge-home-wifi: "\eb55";
$huge-honey: "\eb56";
$huge-hooded-bell: "\eb57";
$huge-hooded-bell-crooked: "\eb58";
$huge-hooded-bell-notification: "\eb59";
$huge-hooded-bell-ringing: "\eb5a";
$huge-hooded-bell-silent: "\eb5b";
$huge-horizontal-align-center: "\eb5c";
$huge-horizontal-align-left: "\eb5d";
$huge-horizontal-align-right: "\eb5e";
$huge-horizontal-equalizer: "\eb5f";
$huge-horizontal-filmstrip-dashed: "\eb60";
$huge-hospital: "\eb61";
$huge-hospital-bed: "\eb62";
$huge-hospital-Panel: "\eb63";
$huge-hotspot: "\eb64";
$huge-hotspot-off: "\eb65";
$huge-hourglass: "\eb66";
$huge-hourglass-end: "\eb67";
$huge-hourglass-start: "\eb68";
$huge-id-card: "\eb69";
$huge-idea: "\eb6a";
$huge-image: "\eb6b";
$huge-image-add: "\eb6c";
$huge-image-circle: "\eb6d";
$huge-image-download: "\eb6e";
$huge-image-edit: "\eb6f";
$huge-image-favourite: "\eb70";
$huge-image-minus: "\eb71";
$huge-image-rectangle: "\eb72";
$huge-image-remove: "\eb73";
$huge-image-tick: "\eb74";
$huge-image-upload: "\eb75";
$huge-in-circle: "\eb76";
$huge-indent-decrease: "\eb77";
$huge-indent-increase: "\eb78";
$huge-information: "\eb79";
$huge-information-circle: "\eb7a";
$huge-information-polygon: "\eb7b";
$huge-information-rectangle: "\eb7c";
$huge-injection: "\eb7d";
$huge-input-cursor-move: "\eb7e";
$huge-in-rectangle: "\eb7f";
$huge-instagram: "\eb80";
$huge-interactive: "\eb81";
$huge-internet: "\eb82";
$huge-invoice: "\eb83";
$huge-invoice-percent: "\eb84";
$huge-invoice-torn: "\eb85";
$huge-ipod: "\eb86";
$huge-italic: "\eb87";
$huge-landscape: "\eb88";
$huge-landscape-bold: "\eb89";
$huge-landscape-line-center: "\eb8a";
$huge-laptop: "\eb8b";
$huge-last-quarter-moon: "\eb8c";
$huge-layers: "\eb8d";
$huge-layout-align-left: "\eb8e";
$huge-layout-align-right: "\eb8f";
$huge-layout-five: "\eb90";
$huge-layout-four: "\eb91";
$huge-layout-third-bottom: "\eb92";
$huge-layout-third-left: "\eb93";
$huge-layout-third-right: "\eb94";
$huge-layout-third-third: "\eb95";
$huge-layout-third-three: "\eb96";
$huge-layout-third-top: "\eb97";
$huge-layout-three: "\eb98";
$huge-layout-two-horizontal: "\eb99";
$huge-layout-two-vertical: "\eb9a";
$huge-library: "\eb9b";
$huge-lifebuoy: "\eb9c";
$huge-light-mode: "\eb9d";
$huge-like: "\eb9e";
$huge-line-chart: "\eb9f";
$huge-line-chart-ascending: "\eba0";
$huge-line-chart-Descending: "\eba1";
$huge-link: "\eba2";
$huge-linkedln: "\eba3";
$huge-link-unlink: "\eba4";
$huge-list-view-circle: "\eba5";
$huge-list-view-rectangle: "\eba6";
$huge-loading-dashed: "\eba7";
$huge-loading-doted: "\eba8";
$huge-location: "\eba9";
$huge-location-add: "\ebaa";
$huge-location-hospital: "\ebab";
$huge-location-line: "\ebac";
$huge-location-map: "\ebad";
$huge-location-minus: "\ebae";
$huge-location-remove: "\ebaf";
$huge-location-share: "\ebb0";
$huge-location-user: "\ebb1";
$huge-lock: "\ebb2";
$huge-lock-dash: "\ebb3";
$huge-lockers: "\ebb4";
$huge-login: "\ebb5";
$huge-login-open: "\ebb6";
$huge-logout: "\ebb7";
$huge-logout-open: "\ebb8";
$huge-loudspeaker: "\ebb9";
$huge-love: "\ebba";
$huge-mail: "\ebbb";
$huge-mail-arrow-down: "\ebbc";
$huge-mail-arrow-left: "\ebbd";
$huge-mail-arrow-right: "\ebbe";
$huge-mail-arrow-up: "\ebbf";
$huge-mail-block: "\ebc0";
$huge-mail-box: "\ebc1";
$huge-mail-delay: "\ebc2";
$huge-mail-fail: "\ebc3";
$huge-mail-fast: "\ebc4";
$huge-mail-favourite: "\ebc5";
$huge-mail-negative: "\ebc6";
$huge-mail-notification: "\ebc7";
$huge-mail-plus: "\ebc8";
$huge-mail-silent: "\ebc9";
$huge-map: "\ebca";
$huge-map-accordion: "\ebcb";
$huge-map-accordion-below: "\ebcc";
$huge-map-accordion-flag: "\ebcd";
$huge-map-accordion-pin: "\ebce";
$huge-map-accordion-top: "\ebcf";
$huge-map-big: "\ebd0";
$huge-map-circle-gps: "\ebd1";
$huge-map-flag: "\ebd2";
$huge-map-gps: "\ebd3";
$huge-map-gps-below: "\ebd4";
$huge-map-gps-navigation: "\ebd5";
$huge-map-location: "\ebd6";
$huge-map-location-accordion: "\ebd7";
$huge-map-location-below: "\ebd8";
$huge-map-location-middle: "\ebd9";
$huge-map-location-top: "\ebda";
$huge-map-paper: "\ebdb";
$huge-map-people: "\ebdc";
$huge-map-people-accordion: "\ebdd";
$huge-map-pin: "\ebde";
$huge-map-small: "\ebdf";
$huge-mask: "\ebe0";
$huge-master-card: "\ebe1";
$huge-maths: "\ebe2";
$huge-matrix: "\ebe3";
$huge-maximize-circle: "\ebe4";
$huge-maximize-rectangle: "\ebe5";
$huge-maximize-rectangle-doted: "\ebe6";
$huge-medal-number-one: "\ebe7";
$huge-medal-star: "\ebe8";
$huge-medical-book: "\ebe9";
$huge-medical-information: "\ebea";
$huge-medical-service: "\ebeb";
$huge-menu-circle-horizontal: "\ebec";
$huge-menu-circle-vertical: "\ebed";
$huge-menu-home: "\ebee";
$huge-menu-line-horizontal: "\ebef";
$huge-menu-line-horizontal-half: "\ebf0";
$huge-menu-line-vertical: "\ebf1";
$huge-menu-line-vertical-half: "\ebf2";
$huge-menu-user: "\ebf3";
$huge-messenger: "\ebf4";
$huge-mic: "\ebf5";
$huge-mic-mute: "\ebf6";
$huge-microphone: "\ebf7";
$huge-microphone-mute: "\ebf8";
$huge-microscope: "\ebf9";
$huge-minimize-circle: "\ebfa";
$huge-minimize-rectangle: "\ebfb";
$huge-minimize-rectangle-doted: "\ebfc";
$huge-mini-store-crooked: "\ebfd";
$huge-mini-store-smile: "\ebfe";
$huge-minus: "\ebff";
$huge-minus-circle: "\ec00";
$huge-minus-rectangle: "\ec01";
$huge-minus-thin: "\ec02";
$huge-mobile: "\ec03";
$huge-mobile-data: "\ec04";
$huge-mobile-data-off: "\ec05";
$huge-mobile-payment: "\ec06";
$huge-money-bag-euro: "\ec07";
$huge-money-bag-pound: "\ec08";
$huge-money-bag-yen: "\ec09";
$huge-money: "\ec0a";
$huge-money-add: "\ec0b";
$huge-money-arrow-down: "\ec0c";
$huge-money-arrow-left: "\ec0d";
$huge-money-arrow-right: "\ec0e";
$huge-money-arrow-up: "\ec0f";
$huge-money-bag: "\ec10";
$huge-money-bag-coin: "\ec11";
$huge-money-bag-coins: "\ec12";
$huge-money-bag-dollar: "\ec13";
$huge-money-big-circle: "\ec14";
$huge-money-check: "\ec15";
$huge-money-coin: "\ec16";
$huge-money-dash: "\ec17";
$huge-money-dollar: "\ec18";
$huge-money-double-dot: "\ec19";
$huge-money-euro: "\ec1a";
$huge-money-favourite: "\ec1b";
$huge-money-income: "\ec1c";
$huge-money-minus: "\ec1d";
$huge-money-pound: "\ec1e";
$huge-money-profit-below: "\ec1f";
$huge-money-profit-top: "\ec20";
$huge-money-remove: "\ec21";
$huge-money-small-circle: "\ec22";
$huge-money-user: "\ec23";
$huge-money-withdraw: "\ec24";
$huge-money-yen: "\ec25";
$huge-monitor: "\ec26";
$huge-more-horizontal: "\ec27";
$huge-more-vertical: "\ec28";
$huge-mouse: "\ec29";
$huge-multiply-circle: "\ec2a";
$huge-multiply-rectangle: "\ec2b";
$huge-music: "\ec2c";
$huge-music-quaver: "\ec2d";
$huge-music-quaver-rectangle: "\ec2e";
$huge-music-quaver-thin: "\ec2f";
$huge-music-rectangle: "\ec30";
$huge-music-thin: "\ec31";
$huge-navigation: "\ec32";
$huge-netflix: "\ec33";
$huge-next-arrow: "\ec34";
$huge-night-mode: "\ec35";
$huge-note-book: "\ec36";
$huge-notification: "\ec37";
$huge-notification-circle: "\ec38";
$huge-notification-off: "\ec39";
$huge-notification-rectangle: "\ec3a";
$huge-notification-with-circle: "\ec3b";
$huge-online-learning: "\ec3c";
$huge-open-box: "\ec3d";
$huge-open-box-add: "\ec3e";
$huge-open-box-arrow-down: "\ec3f";
$huge-open-box-arrow-up: "\ec40";
$huge-open-box-done: "\ec41";
$huge-open-box-favorite: "\ec42";
$huge-open-box-minus: "\ec43";
$huge-open-box-remove: "\ec44";
$huge-open-box-search: "\ec45";
$huge-open-box-two-side: "\ec46";
$huge-out-circle: "\ec47";
$huge-out-rectangle: "\ec48";
$huge-package: "\ec49";
$huge-package-box: "\ec4a";
$huge-package-box-cube: "\ec4b";
$huge-package-box-dash: "\ec4c";
$huge-package-box-favorite: "\ec4d";
$huge-package-box-handle: "\ec4e";
$huge-package-box-two-side: "\ec4f";
$huge-package-cube: "\ec50";
$huge-package-dash-centre: "\ec51";
$huge-package-dash-left: "\ec52";
$huge-package-dash-right: "\ec53";
$huge-package-favorite: "\ec54";
$huge-package-sun: "\ec55";
$huge-packaging-add: "\ec56";
$huge-packaging-arrow-down: "\ec57";
$huge-packaging-arrow-up: "\ec58";
$huge-packaging-cancel: "\ec59";
$huge-packaging-done: "\ec5a";
$huge-packaging-favorite: "\ec5b";
$huge-packaging-location: "\ec5c";
$huge-packaging-location-box: "\ec5d";
$huge-packaging-minus: "\ec5e";
$huge-packaging-search: "\ec5f";
$huge-packaging-time: "\ec60";
$huge-page-separator: "\ec61";
$huge-paint-board: "\ec62";
$huge-paint-bucket: "\ec63";
$huge-paper-pin: "\ec64";
$huge-paragraph: "\ec65";
$huge-parcel: "\ec66";
$huge-payoneer: "\ec67";
$huge-paypal: "\ec68";
$huge-pen: "\ec69";
$huge-pencil: "\ec6a";
$huge-pencil-book: "\ec6b";
$huge-pencil-paper: "\ec6c";
$huge-people: "\ec6d";
$huge-people-circle-below: "\ec6e";
$huge-phone-lock: "\ec6f";
$huge-physics: "\ec70";
$huge-pie-chart: "\ec71";
$huge-pills: "\ec72";
$huge-pills-Capsule: "\ec73";
$huge-pill-tablet: "\ec74";
$huge-pin: "\ec75";
$huge-pin-circle: "\ec76";
$huge-pin-rectangle: "\ec77";
$huge-pinterest: "\ec78";
$huge-pinterest-circle: "\ec79";
$huge-pixel-grid-circle: "\ec7a";
$huge-pixel-grid-rectangle: "\ec7b";
$huge-plaster: "\ec7c";
$huge-playlist: "\ec7d";
$huge-playlists: "\ec7e";
$huge-plugin: "\ec7f";
$huge-plus: "\ec80";
$huge-plus-circle: "\ec81";
$huge-plus-rectangle: "\ec82";
$huge-plus-thin: "\ec83";
$huge-portrait: "\ec84";
$huge-portrait-bold: "\ec85";
$huge-portrait-line-center: "\ec86";
$huge-post-add: "\ec87";
$huge-pound: "\ec88";
$huge-power-circle: "\ec89";
$huge-power-rectangle: "\ec8a";
$huge-presentation: "\ec8b";
$huge-press: "\ec8c";
$huge-previous-arrow: "\ec8d";
$huge-profit: "\ec8e";
$huge-profit-cart: "\ec8f";
$huge-profit-coin: "\ec90";
$huge-projector: "\ec91";
$huge-projector-light: "\ec92";
$huge-protractor: "\ec93";
$huge-protractor-circle: "\ec94";
$huge-pyramid: "\ec95";
$huge-qr-scan: "\ec96";
$huge-queue: "\ec97";
$huge-quiz: "\ec98";
$huge-rank: "\ec99";
$huge-receipt: "\ec9a";
$huge-record: "\ec9b";
$huge-redo: "\ec9c";
$huge-redo-circle: "\ec9d";
$huge-redo-rectangle-left: "\ec9e";
$huge-redo-rectangle-right: "\ec9f";
$huge-reload: "\eca0";
$huge-reload-circle: "\eca1";
$huge-reload-rectangle: "\eca2";
$huge-remove: "\eca3";
$huge-remove-circle: "\eca4";
$huge-remove-left: "\eca5";
$huge-remove-rectangle: "\eca6";
$huge-remove-thin: "\eca7";
$huge-repeat: "\eca8";
$huge-replay: "\eca9";
$huge-reply-rectangle: "\ecaa";
$huge-report: "\ecab";
$huge-restart: "\ecac";
$huge-return: "\ecad";
$huge-return-box: "\ecae";
$huge-return-circle: "\ecaf";
$huge-reward: "\ecb0";
$huge-road: "\ecb1";
$huge-road-Horizontal: "\ecb2";
$huge-road-location: "\ecb3";
$huge-road-location-horizontal: "\ecb4";
$huge-road-pin: "\ecb5";
$huge-road-pin-horizontal: "\ecb6";
$huge-roof-home: "\ecb7";
$huge-roof-home-add: "\ecb8";
$huge-roof-home-arrow-down: "\ecb9";
$huge-roof-home-arrow-up: "\ecba";
$huge-roof-home-celsius: "\ecbb";
$huge-roof-home-check: "\ecbc";
$huge-roof-home-cloud: "\ecbd";
$huge-roof-home-door: "\ecbe";
$huge-roof-home-download: "\ecbf";
$huge-roof-home-eye: "\ecc0";
$huge-roof-home-favourite: "\ecc1";
$huge-roof-home-filter: "\ecc2";
$huge-roof-home-flash: "\ecc3";
$huge-roof-home-fluid: "\ecc4";
$huge-roof-home-graph: "\ecc5";
$huge-roof-home-information: "\ecc6";
$huge-roof-home-link: "\ecc7";
$huge-roof-home-location: "\ecc8";
$huge-roof-home-location-big: "\ecc9";
$huge-roof-home-lock: "\ecca";
$huge-roof-home-mail: "\eccb";
$huge-roof-home-minus: "\eccc";
$huge-roof-home-notification: "\eccd";
$huge-roof-home-power: "\ecce";
$huge-roof-home-remove: "\eccf";
$huge-roof-home-setting: "\ecd0";
$huge-roof-home-share: "\ecd1";
$huge-roof-home-shield: "\ecd2";
$huge-roof-home-smile: "\ecd3";
$huge-roof-home-upload: "\ecd4";
$huge-roof-home-warning: "\ecd5";
$huge-roof-home-wave: "\ecd6";
$huge-roof-home-wifi: "\ecd7";
$huge-rotate-lock: "\ecd8";
$huge-ruler: "\ecd9";
$huge-sad-circle: "\ecda";
$huge-sad-rectangle: "\ecdb";
$huge-safe-box: "\ecdc";
$huge-safe-box-star: "\ecdd";
$huge-school: "\ecde";
$huge-screen-rotate: "\ecdf";
$huge-screenshot: "\ece0";
$huge-sd-storage: "\ece1";
$huge-search: "\ece2";
$huge-search-minus: "\ece3";
$huge-search-plus: "\ece4";
$huge-search-remove: "\ece5";
$huge-search-short: "\ece6";
$huge-search-short-separated: "\ece7";
$huge-security: "\ece8";
$huge-send: "\ece9";
$huge-send-fast: "\ecea";
$huge-sensor: "\eceb";
$huge-setting: "\ecec";
$huge-setting-short: "\eced";
$huge-share: "\ecee";
$huge-share-rectangle: "\ecef";
$huge-shield: "\ecf0";
$huge-shield-dot: "\ecf1";
$huge-shield-warning: "\ecf2";
$huge-shipping: "\ecf3";
$huge-shopping-bag: "\ecf4";
$huge-shopping-bag-add: "\ecf5";
$huge-shopping-bag-check: "\ecf6";
$huge-shopping-bag-favourite: "\ecf7";
$huge-shopping-bag-minus: "\ecf8";
$huge-shopping-bag-remove: "\ecf9";
$huge-shopping-basket: "\ecfa";
$huge-shopping-basket-add: "\ecfb";
$huge-shopping-basket-arrow-down: "\ecfc";
$huge-shopping-basket-arrow-out: "\ecfd";
$huge-shopping-basket-check: "\ecfe";
$huge-shopping-basket-double-door: "\ecff";
$huge-shopping-basket-favourite: "\ed00";
$huge-shopping-basket-horizontal: "\ed01";
$huge-shopping-basket-minus: "\ed02";
$huge-shopping-basket-remove: "\ed03";
$huge-shopping-basket-simple: "\ed04";
$huge-shopping-basket-single-door: "\ed05";
$huge-shuffle: "\ed06";
$huge-shut-down: "\ed07";
$huge-signal: "\ed08";
$huge-signal-cellular: "\ed09";
$huge-signal-cellular-bad: "\ed0a";
$huge-signal-cellular-line: "\ed0b";
$huge-signal-cellular-no-internet: "\ed0c";
$huge-signal-cellular-no-internet-dashed: "\ed0d";
$huge-signal-cellular-off: "\ed0e";
$huge-signpost: "\ed0f";
$huge-signpost-big: "\ed10";
$huge-signpost-right: "\ed11";
$huge-signpost-small: "\ed12";
$huge-signpost-top: "\ed13";
$huge-sim-card: "\ed14";
$huge-skype: "\ed15";
$huge-slack: "\ed16";
$huge-smart-air-conditioning: "\ed17";
$huge-smart-door: "\ed18";
$huge-smart-humidity: "\ed19";
$huge-smart-key: "\ed1a";
$huge-smart-key-dotted: "\ed1b";
$huge-smart-light: "\ed1c";
$huge-smart-lock: "\ed1d";
$huge-smart-music: "\ed1e";
$huge-smart-phone: "\ed1f";
$huge-smartphone-learning: "\ed20";
$huge-smart-plug: "\ed21";
$huge-smart-power: "\ed22";
$huge-smart-remote: "\ed23";
$huge-smart-speaker: "\ed24";
$huge-smart-switch: "\ed25";
$huge-smart-thermostat: "\ed26";
$huge-smart-tv: "\ed27";
$huge-smart-watch: "\ed28";
$huge-smile-ellipse: "\ed29";
$huge-smile-rectangle: "\ed2a";
$huge-snapchat: "\ed2b";
$huge-snow: "\ed2c";
$huge-solar-panel: "\ed2d";
$huge-song-left: "\ed2e";
$huge-song-right: "\ed2f";
$huge-sort-arrow-down: "\ed30";
$huge-sort-arrow-down-reverse: "\ed31";
$huge-sort-arrow-up: "\ed32";
$huge-sort-arrow-up-reverse: "\ed33";
$huge-sort-circle: "\ed34";
$huge-sort-rectangle: "\ed35";
$huge-speaker: "\ed36";
$huge-speaker-disable: "\ed37";
$huge-speaker-minus: "\ed38";
$huge-speaker-mute: "\ed39";
$huge-speaker-plus: "\ed3a";
$huge-speed-test: "\ed3b";
$huge-spell-check: "\ed3c";
$huge-spotify: "\ed3d";
$huge-spring-notes: "\ed3e";
$huge-spring-notes-add: "\ed3f";
$huge-spring-notes-check: "\ed40";
$huge-spring-notes-delete: "\ed41";
$huge-spring-notes-download: "\ed42";
$huge-spring-notes-edit: "\ed43";
$huge-spring-notes-edit-add: "\ed44";
$huge-spring-notes-edit-check: "\ed45";
$huge-spring-notes-edit-delete: "\ed46";
$huge-spring-notes-edit-download: "\ed47";
$huge-spring-notes-edit-favourite: "\ed48";
$huge-spring-notes-edit-minus: "\ed49";
$huge-spring-notes-edit-search: "\ed4a";
$huge-spring-notes-edit-upload: "\ed4b";
$huge-spring-notes-favourite: "\ed4c";
$huge-spring-notes-list: "\ed4d";
$huge-spring-notes-remove: "\ed4e";
$huge-spring-notes-search: "\ed4f";
$huge-spring-notes-upload: "\ed50";
$huge-spring-notes-write-edit: "\ed51";
$huge-square-root: "\ed52";
$huge-standby-mode: "\ed53";
$huge-star: "\ed54";
$huge-stationery: "\ed55";
$huge-stethoscope: "\ed56";
$huge-sticker: "\ed57";
$huge-sticky-note: "\ed58";
$huge-stop: "\ed59";
$huge-stopwatch: "\ed5a";
$huge-stopwatch-add: "\ed5b";
$huge-stopwatch-check: "\ed5c";
$huge-stopwatch-delete: "\ed5d";
$huge-stopwatch-fast: "\ed5e";
$huge-stopwatch-minus: "\ed5f";
$huge-storage: "\ed60";
$huge-store: "\ed61";
$huge-store-smile: "\ed62";
$huge-strikethrough: "\ed63";
$huge-strikethrough-text: "\ed64";
$huge-student: "\ed65";
$huge-student-card: "\ed66";
$huge-students: "\ed67";
$huge-study-lights: "\ed68";
$huge-subject: "\ed69";
$huge-sun: "\ed6a";
$huge-sunrise: "\ed6b";
$huge-sunset: "\ed6c";
$huge-switch: "\ed6d";
$huge-syrup: "\ed6e";
$huge-table: "\ed6f";
$huge-tablet: "\ed70";
$huge-tag: "\ed71";
$huge-tag-crooked: "\ed72";
$huge-target: "\ed73";
$huge-task-check-paper: "\ed74";
$huge-teacher: "\ed75";
$huge-teacher-thin: "\ed76";
$huge-telegram: "\ed77";
$huge-telescope: "\ed78";
$huge-temperature-cold: "\ed79";
$huge-temperature-minus: "\ed7a";
$huge-temperature-plus: "\ed7b";
$huge-test-tube: "\ed7c";
$huge-test-tube-cylindrical: "\ed7d";
$huge-test-tube-cylindrical-crooked: "\ed7e";
$huge-test-tube-double: "\ed7f";
$huge-text: "\ed80";
$huge-text-area: "\ed81";
$huge-text-rotation-none: "\ed82";
$huge-text-rotation-vertical: "\ed83";
$huge-text-spacing: "\ed84";
$huge-text-wrap: "\ed85";
$huge-thermometer: "\ed86";
$huge-tick: "\ed87";
$huge-tick-double: "\ed88";
$huge-ticket: "\ed89";
$huge-ticket-percent: "\ed8a";
$huge-tiktok: "\ed8b";
$huge-time-add: "\ed8c";
$huge-time-check: "\ed8d";
$huge-time-clock: "\ed8e";
$huge-time-delete: "\ed8f";
$huge-time-fast: "\ed90";
$huge-time-forward: "\ed91";
$huge-time-half-past: "\ed92";
$huge-time-minus: "\ed93";
$huge-time-quarter: "\ed94";
$huge-time-quarter-past: "\ed95";
$huge-time-sixty: "\ed96";
$huge-time-teen: "\ed97";
$huge-time-twenty-four: "\ed98";
$huge-tooth: "\ed99";
$huge-tornado: "\ed9a";
$huge-track-next: "\ed9b";
$huge-track-next-double: "\ed9c";
$huge-track-pause: "\ed9d";
$huge-track-play: "\ed9e";
$huge-track-play-add: "\ed9f";
$huge-track-play-favourite: "\eda0";
$huge-track-play-minus: "\eda1";
$huge-track-play-remove: "\eda2";
$huge-track-previous: "\eda3";
$huge-track-previous-double: "\eda4";
$huge-training: "\eda5";
$huge-transfer: "\eda6";
$huge-transform: "\eda7";
$huge-transfusion: "\eda8";
$huge-trash: "\eda9";
$huge-trash-bent: "\edaa";
$huge-tripod-board: "\edab";
$huge-trolley: "\edac";
$huge-trolley-crooked: "\edad";
$huge-trophy: "\edae";
$huge-turn: "\edaf";
$huge-turn-left: "\edb0";
$huge-turn-right: "\edb1";
$huge-turn-two-side: "\edb2";
$huge-twitter: "\edb3";
$huge-twitter-plus: "\edb4";
$huge-twitter-sparrow: "\edb5";
$huge-umbrella: "\edb6";
$huge-underline: "\edb7";
$huge-undo: "\edb8";
$huge-undo-circle: "\edb9";
$huge-unlock: "\edba";
$huge-unlock-dashed: "\edbb";
$huge-upload-circle: "\edbc";
$huge-upload-rectangle: "\edbd";
$huge-usb: "\edbe";
$huge-user: "\edbf";
$huge-user-add: "\edc0";
$huge-user-block: "\edc1";
$huge-user-circle: "\edc2";
$huge-user-circle-add: "\edc3";
$huge-user-circle-block: "\edc4";
$huge-user-circle-minus: "\edc5";
$huge-user-circle-remove: "\edc6";
$huge-user-community: "\edc7";
$huge-user-minus: "\edc8";
$huge-user-polygon: "\edc9";
$huge-user-rectangle: "\edca";
$huge-user-remove: "\edcb";
$huge-users-double: "\edcc";
$huge-users-triple: "\edcd";
$huge-u-turn-left: "\edce";
$huge-u-turn-right: "\edcf";
$huge-vertical-align-bottom: "\edd0";
$huge-vertical-align-center: "\edd1";
$huge-vertical-align-top: "\edd2";
$huge-vertical-equalizer: "\edd3";
$huge-vertical-filmstrip: "\edd4";
$huge-vertical-filmstrip-dashed: "\edd5";
$huge-vibrate-mode: "\edd6";
$huge-video-add: "\edd7";
$huge-video-call: "\edd8";
$huge-video-favourite: "\edd9";
$huge-video-minus: "\edda";
$huge-video-remove: "\eddb";
$huge-video-tick: "\eddc";
$huge-view: "\eddd";
$huge-view-off: "\edde";
$huge-view-privacy: "\eddf";
$huge-vinyl: "\ede0";
$huge-vinyl-player: "\ede1";
$huge-voice-mail: "\ede2";
$huge-wall-board: "\ede3";
$huge-wallet: "\ede4";
$huge-wallet-add: "\ede5";
$huge-wallet-add-close: "\ede6";
$huge-wallet-arrow-down: "\ede7";
$huge-wallet-arrow-down-close: "\ede8";
$huge-wallet-arrow-left: "\ede9";
$huge-wallet-arrow-left-close: "\edea";
$huge-wallet-arrow-right: "\edeb";
$huge-wallet-arrow-right-close: "\edec";
$huge-wallet-arrow-up: "\eded";
$huge-wallet-arrow-up-close: "\edee";
$huge-wallet-check: "\edef";
$huge-wallet-check-close: "\edf0";
$huge-wallet-close: "\edf1";
$huge-wallet-minus: "\edf2";
$huge-wallet-minus-close: "\edf3";
$huge-wallet-open-left: "\edf4";
$huge-wallet-open-right: "\edf5";
$huge-wallet-remove: "\edf6";
$huge-wallet-remove-close: "\edf7";
$huge-wallet-user: "\edf8";
$huge-wallet-user-close: "\edf9";
$huge-warehouse: "\edfa";
$huge-warning: "\edfb";
$huge-warning-error: "\edfc";
$huge-warning-polygon: "\edfd";
$huge-wave: "\edfe";
$huge-waves: "\edff";
$huge-whatsapp: "\ee00";
$huge-wheel-chair: "\ee01";
$huge-wheel-chair-human: "\ee02";
$huge-whistle: "\ee03";
$huge-widgets: "\ee04";
$huge-wifi-signal: "\ee05";
$huge-wifi-signal-bad: "\ee06";
$huge-wifi-signal-no-internet: "\ee07";
$huge-wifi-signal-off: "\ee08";
$huge-wifi: "\ee09";
$huge-wifi-crooked: "\ee0a";
$huge-wifi-off: "\ee0b";
$huge-wind-high: "\ee0c";
$huge-wind-low: "\ee0d";
$huge-wind-mid: "\ee0e";
$huge-wireless-charging: "\ee0f";
$huge-withdraw: "\ee10";
$huge-wristwatch-circle: "\ee11";
$huge-wristwatch-rectangle: "\ee12";
$huge-yen: "\ee13";
$huge-youtube: "\ee14";
$huge-zoom: "\ee15";
$huge-zoom-in: "\ee16";
$huge-zoom-out: "\ee17";
$huge-zoom-text: "\ee18";

